@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&display=swap');
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin {
  animation: spin infinite linear 10s; /* Adjust the duration as needed */
}
.postmargin{
  margin-top:-6px
}
.descrition{
  margin-bottom: -5px;
}
body{
  font-family: 'Fira Code', monospace;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #F5F7FA;
}